{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 49.8175526,
    "longitude": 24.0238162,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Chisinau",
    "external_url": null,
    "internal_url": null,
    "currency": "UAH",
    "country": "UA",
    "language": "en",
    "radius": 100
  }
}